/*RESPONSIVE*/
/*LARGE SCREEN*/
@media screen and (max-width:2560px) {

   /*HEADER*/
   header .logo {
      width: 8vw;
   }

   /*NAVIGATION*/
   .nav__container {
      font-size: 1vw;
   }

   /*DROPDOWN*/
   .features__dropdown {
      font-size: 1vw;

      .icon__dropdown {
         width: 1vw;
      }
   }

   .company__dropdown {
      font-size: 1vw;
   }

   /*MAIN CONTAINER*/
   .main__container {
      // margin-top: 5vw;
      .img__container {
         width: 36%;
      }
   }
}

@media screen and (max-width: 1440px) {

   /*NAVIGATION*/
   .nav__container {
      width: 82vw;

      .nav__dropdown {
         width: 30vw;
      }
   }

   /*DROPDOWN*/
   .features__dropdown {
      top: 2.2vw;
   }

   .company__dropdown {
      top: 2.2vw;
   }

   /*MAIN CONTAINER*/
   .main__container {
      margin-top: 40px;
      height: 50vw;

      .text__container p {
         width: 60%;
      }

      .text__container a {
         width: 30%;
         padding: 1.5rem 1.2rem;
      }

      .text__container footer {
         justify-content: flex-start;

         img {
            width: 10vw;
         }
      }

      .img__container {
         width: 81%;
      }
   }

}

/*MEDIUM SCREEN*/
@media screen and (max-width: 1366px) {

   /*HEADER*/
   header .logo {
      width: 130px;
   }

   /*NAVIGATION*/
   .nav__container {
      width: 83.5vw;

      .nav__dropdown {
         width: 30vw;
      }
   }

   /*DROPDOWN*/
   .features__dropdown {
      top: 2.2vw;
   }

   .company__dropdown {
      top: 2.2vw;
   }

   /*MAIN CONTAINER*/
   .main__container {
      height: 42vw;

      .text__container h1 {
         margin-top: 7vw;
         font-size: 4rem;
      }

      .text__container p {
         width: 55%;
         font-size: 1.2rem;
      }

      .text__container a {
         width: 25%;
         padding: 1rem 1.2rem;
         font-size: 1.1rem;
      }

      .img__container {
         width: 61%;
      }
   }
}

@media screen and (max-width: 1050px) {

   /*HEADER*/
   header .logo {
      width: 100px;
   }

   /*NAVIGATION*/
   .nav__container {
      width: 82vw;
      font-size: 1rem;

      .login__register a {
         padding: 0.9rem 1.9rem;
      }
   }

   /*MAIN CONTAINER*/
   .main__container {
      width: 80vw;
      height: 50vw;

      .text__container h1 {
         margin-top: 110px;
         font-size: 3rem;
      }

      .text__container p {
         font-size: 1.1rem;
         width: 70%;
      }

      .text__container a {
         padding: 0.8rem;
         width: 30%;
      }

      .text__container footer {
         justify-content: flex-start;

         img {
            width: 8vw;
            margin-right: 8%;
         }
      }

      .img__container {
         width: 85%;
      }
   }
}

/*SMALL SCREEN*/
@media screen and (max-width: 640px) {

   /*GENERAL STYLE*/
   .container {
      position: relative;
      overflow-y: scroll;
   }

   .bg__mobile {
      display: none;
      opacity: 0.6;
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      background-color: $almost-black;
   }

   .display {
      display: block;
   }

   .menu__mobile {
      z-index: 10;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32px;

      img {
         position: absolute;
      }
   }

   .menu__mobile .dispear {
      display: none;
   }

   /*HEADER*/

   .nav__container {
      position: absolute;
      top: 0;
      right: 0;
      max-width: 0;
      overflow: hidden;
      height: 100%;
      background-color: $white;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      transition: all 1s ease;
   }

   /*NAVIGATION ON MOBILE ANIMATION*/
   .nav__mobile {
      max-width: 70%;
   }

   .nav__container .login__register {
      flex-direction: column;
      align-items: center;
      width: 100%;

      a {
         padding: 1rem 5rem;
         margin-left: 0;
      }
   }

   .nav__dropdown {
      margin-top: 100px;
   }

   .dropdown__container {
      margin-left: 25px;
      flex-direction: column;
      align-items: flex-start;
      background-color: #fff;
   }

   .features__dropdown {
      margin-left: 0;
   }

   .dropdown__container .features,
   .company,
   .careers,
   .about {
      margin-bottom: 15px;
   }

   .dropdown__container .features__dropdown {
      position: relative;
   }

   .company__dropdown {
      position: relative;
      margin-left: 0;
   }

   .features__link,
   .company__link {
      justify-content: flex-start !important;
   }

   /*DROPDOWN*/
   .features__dropdown {
      li {
         margin: 20px 40px 20px 10px;
         width: 100%;
      }
   }

   .company__dropdown {
      font-size: 1rem;

      li {
         margin: 20px 10px;
      }
   }

   /*MAIN CONTAINER*/
   .main__container {
      flex-direction: column-reverse;
      align-items: center;
      width: 100%;
      height: auto;

      .text__container {
         align-items: center;
         width: 90%;

         br {
            display: none;
         }
      }

      .text__container h1 {
         font-size: 2.5rem;
      }

      .text__container p {
         margin-top: 20px;
         width: 95%;
         text-align: center;
         font-size: 1.2rem;
      }

      .text__container a {
         margin-top: 30px;
         margin-bottom: 70px;
         padding: 0.8rem 1rem;
         width: auto;
         font-size: 1.1rem;
      }

      .text__container footer {
         width: 100%;

         img {
            width: 20%;
            margin-right: 9%;

            &:last-child {
               margin-right: 0;
            }
         }
      }

      .img__container {
         margin-top: 40px;
         width: 100%;

         .img__desktop {
            display: none;
         }

         .img__mobile {
            display: block;
         }
      }
   }
}

@media screen and (max-width: 380px) {

   /*HEADER*/
   header .logo {
      width: 115px;
   }

   /*NAVIGATION ON MOBILE ANIMATION*/
   .nav__container .login__register a {
      padding: 1rem 4rem;
   }

   .main__container {
      .text__container h1 {
         font-size: 2rem;
      }

      .text__container p {
         font-size: 1.1rem;
      }
   }
}

@media screen and (max-width: 340px) {

   /*HEADER*/
   header .logo {
      width: 100px;
   }

   /*MAIN*/
   .main__container {
      .text__container h1 {
         font-size: 1.6rem;
      }

      .text__container p {
         font-size: 1rem;
      }
   }
}